.wrap{
	//float: left;
	overflow: hidden;
	display: block;
	width: 80%;
	margin: 0px auto;
}

.item{
	//float: left;
	display: inline-block;
	overflow: hidden;
	width: 30%;
	border: 1px solid green;
	height: 200px;
	border-radius: 10px;
	margin: 5px 0.5%;

	background: no-repeat;
	background-size: cover;

}

.a1{
	background-image: url("img/1.jpg");
}
.a2{
	background-image: url("img/2.jpg");
}
.a3{
	background-image: url("img/3.jpg");
}
.a4{
	float: left;
	clear: left;
	background-image: url("img/4.jpg");
}
.a5{
	float: left;
	clear: left;
	background-image: url("img/5.jpg");
}
.a6{
	width: 62%;
	height: 410px;
	background-image: url("img/6.jpg");
}
.a7{
	clear: left;
	width: 93%;
	height: 400px;
	background-image: url("img/7.jpg");
}
